# Direct dependencies. Compile requirements.txt with uv pip compile.
fastapi==0.115.12
uvicorn==0.34.2
pydantic==2.11.4
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.5.2
xgboost-cpu==2.1.4
mlflow==2.22.2
evidently==0.5.1
joblib==1.4.2
